<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<body style="margin:0;padding:0;word-spacing:normal;background-color:#e6e6e6">
<div aria-roledescription="email" lang="en" role="article"
     style="text-size-adjust:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;background-color:#e6e6e6">
  <table role="presentation" style="width:100%;border:none;border-spacing:0">
    <tr>
      <td align="center" style="padding:0">
        <table role="presentation"
               style="width:94%;max-width:600px;border:none;border-spacing:0;text-align:left;font-family:Arial,sans-serif;font-size:16px;line-height:22px;color:#363636">
          <tr>
            <td style="padding:30px 30px 20px 30px;text-align:center;font-size:24px;font-weight:700">
              <img alt="Logo" src="IMAGE"
                   style="width:165px;max-width:80%;height:auto;border:none;text-decoration:none;color:#fff"
                   width="180">
            </td>
          </tr>
          <tr>
            <td style="padding:30px;background-color:#fff"><h1
                style="margin-top:30;margin-bottom:60px;font-size:26px;line-height:32px;font-weight:700;letter-spacing:-.02em;text-align:center">
              Welcome to ORG_NAME!</h1>
              <p style="margin:0;text-align:center">WELCOME_TEXT</p></td>
          </tr>
          <tr>
            <td style="padding:20px 30px;font-size:0;background-color:#fff;border-bottom:1px solid #f0f0f5;border-color:rgba(201,201,207,.35)"></td>
          </tr>
          <tr>
            <td style="padding:30px;background-color:#fff"><p style="margin:0">If you want to reach
              out, feel free to contact the team via social media or whatsapp, we will gladly answer
              your questions :)</p><br>
              <p style="margin:0">Our Best, ORG_NAME Team.</p></td>
          </tr>
          <tr>
            <td style="padding:30px;text-align:left;font-size:12px;background-color:#0038ff;color:#eee">
              <p>Phone: ORG_PHONE</p>
              <p>Email:<a href="mailto:ORG_EMAIL" style="color:#fff">ORG_EMAIL</a></p>
              <div style="text-align:center"><a href="FACEBOOK_URL"
                                                style="color:#fff;margin-top:20px">Facebook</a><a
                  href="INSTAGRAM_URL" style="color:#fff;margin-top:20px">Instagram</a><a
                  href="LINKEDIN_URL" style="color:#fff;margin-top:20px">Linkedin</a>
                <p style="margin:20px 0 0 0;font-size:14px;line-height:20px;font-style:italic">
                  ORG_NAME, ORG_ADDRESS, Argentina.</p></div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
</body>
</html>