# Database
spring:
  datasource:
    url: ${DATABASE_URL:jdbc:mysql://localhost:3306/ong}
    name: ${DATABASE_NAME:somosmas}
    username: ${DATABASE_USER:root}
    password: ${DATABASE_PASSWORD:root}
    driver-class-name: ${DATABASE_CLASS:com.mysql.jdbc.Driver}
  jpa:
    database-platform: ${DATABASE_PLATFORM:org.hibernate.dialect.MySQL5InnoDBDialect}
    show-sql: false
    defer-datasource-initialization: false
    hibernate.ddl-auto: update
  sendgrid:
    api-key: foo
app:
  email: foo@example.com
aws:
  credentials:
    access-key: foo
    secret-key: foo
    region : us-east-1
  bucket:
    name: cohorte-agosto-38d749a7
